moto[dynamodb, s3]>=5.2.3, <6
pytest>=6.2.5
pytest-cov
coverage
ruff
pip-tools
pip-audit
Faker>=40.37.0, <41

# Dependencies normally provided via the common lambda layer
argon2-cffi>=25.1.0, <26.0.0
aws-lambda-powertools>=3.34.0, <4
boto3>=1.43.78, <2
cryptography>=50.0.0, <51
marshmallow>=4.3.1, <5.0.0
requests>=2.31.0, <3.0.0
urllib3>=2.7.0, <3
