//
//  LicenseeDashboard.less
//  CompactConnect
//
//  Created by InspiringApps on 9/23/2024.
//
.licensee-dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;

    @media @tabletWidth {
        padding: 0 6rem;
    }

    @media @desktopWidth {
        padding: 0 12rem;
    }

    .purchase-unavailable-modal {
        :deep(.modal-container) {
            padding: 2rem;

            @media @tabletWidth {
                max-width: 60rem;
                padding: 4rem 4rem 2rem;
            }

            .modal-content {
                .modal-content-text {
                    margin-bottom: 2rem;

                    .purchase-unavailable-message {
                        font-size: 1.8rem;
                    }

                    .purchase-unavailable-list {
                        border-spacing: 0 1rem;

                        li {
                            margin-bottom: 1rem;
                            font-weight: @fontWeightLight;
                            font-size: 1.8rem;
                            list-style-position: inside;

                            &::marker {
                                font-weight: @fontWeightBold;
                            }

                            a {
                                font-weight: @fontWeightBold;
                                text-decoration: underline;

                                &:focus {
                                    border-radius: 4px;
                                    outline: 2px solid @primaryColor;
                                }
                            }
                        }
                    }
                }
            }

            .modal-actions {
                margin-bottom: 0;

                .action-button-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    &.initial-action-buttons {
                        flex-direction: column-reverse;
                        align-items: center;

                        @media @tabletWidth {
                            flex-direction: row;
                            align-items: flex-end;
                        }
                    }

                    .cancel-btn {
                        .input-button {
                            color: @primaryColor;
                            font-weight: @fontWeightBold;
                            background: @white;
                        }
                    }

                    .submit-btn {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }

    .top-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 4rem;

        @media @desktopWidth {
            align-items: flex-start;
            justify-content: space-between;
        }

        @media @largeDesktopWidth {
            flex-direction: row;
        }

        .welcome-user {
            font-weight: @fontWeightBold;
            font-size: @h2FontSize;
            text-align: center;
        }

        .button-block {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            margin-top: 2rem;

            @media @desktopWidth {
                flex-direction: row;
            }

            @media @largeDesktopWidth {
                width: auto;
                margin-top: 0;
                margin-left: auto;
            }

            .btn-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 1.2rem;

                @media @desktopWidth {
                    width: 100%;

                    &:not(:first-child) {
                        margin-left: 1.8rem;
                    }
                }

                @media @largeDesktopWidth {
                    width: auto;
                }

                .btn {
                    width: 100%;
                    margin-bottom: 0.4rem;

                    @media @largeDesktopWidth {
                        width: auto;
                    }

                    &:deep(input) {
                        width: 100%;
                    }
                }

                .btn-subtext {
                    color: darken(@darkGrey, 10%);
                    font-size: 1.2rem;
                    text-align: right;

                    &.why-unavailable-container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-end;

                        .icon-info-circle-container {
                            margin-left: 0.5rem;
                        }

                        .icon-info-circle {
                            width: 1.3rem;
                            height: 1.3rem;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .license-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media @tabletWidth {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: flex-start;
            width: 100%;
        }

        .license-chunk {
            display: flex;
            align-items: stretch;
        }
    }

    .privilege-section {
        width: 100%;
        margin-top: 3rem;
        padding: 3rem 4rem 0 3rem;
        border-top: 1px solid @lightGrey;

        @media @tabletWidth {
            padding: 3rem 0 0 0;
        }

        &.bottom {
            padding: 3rem 4rem;

            @media @tabletWidth {
                padding: 3rem 0;
            }
        }

        .privilege-section-title-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;

            .title-info {
                display: flex;
                flex-direction: row;
                align-items: center;

                .title-text {
                    padding-left: 1rem;
                    font-size: @fontSizeLarger;
                }
            }

            :deep(.collapse-caret-button) {
                svg {
                    width: 2.4rem;
                    height: 1.4rem;
                    stroke: @black;
                }
            }
        }

        .privilege-card-list-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media @tabletWidth {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }
}

.no-touch-item {
    margin: 1rem;
}
