//
//  LicenseeDashboard.less
//  CompactConnect
//
//  Created by InspiringApps on 9/23/2024.
//
.licensee-dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;

    @media @desktopWidth {
        padding: 0 12rem;
    }

    // @media @largeDesktopWidth {
    //     padding: 0 24rem;
    // }

    .top-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media @desktopWidth {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 50rem;
        }

        @media @largeDesktopWidth {
            width: 80rem;
        }

        .welcome-user {
            text-align: center;
        }

        .obtain-priv-btn {
            margin-top: 2rem;
        }
    }

    .privilege-section {
        margin-top: 3rem;
        padding-top: 3rem;
        border-top: 1px solid grey;

        .privilege-section-title-row {
            display: flex;
            flex-direction: row;
        }
    }
}
