*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# Save for local config
cdk.context.json
*-cdk.context.json
# smoke test env
smoke_tests_env.json
