//
//  PageContainer.less
//  InspiringApps modules
//
//  Created by InspiringApps on 5/4/2020.
//

.page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding-top: @appHeaderHeight;
    background-color: @ambientGrey;

    @media print {
        @page {
            size: 330mm 427mm;
            margin: 14mm;
        }

        width: @desktopWidth;
        min-height: auto;
        background-color: @white;
    }

    &.no-top-pad {
        @media @tabletWidth and (hover: hover) {
            padding-top: unset;
        }
    }

    &.no-page-header {
        margin-top: @appHeaderHeight;
        padding-top: 0;

        @media @tabletWidth and (hover: hover) {
            margin-top: 0;
        }
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        display: flex;
        width: 100%;
        height: @appHeaderHeight;
    }

    .page-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;

        @media @tabletWidth and (hover: hover) {
            &.include-nav {
                padding-left: @navPartialExpandWidth;
            }
        }
    }
}
