//
//  SelectPrivileges.less
//  CompactConnect
//
//  Created by InspiringApps on 10/15/2024.
//
.select-privileges-container {
    padding: 2rem;

    .button-row {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        .right-cell {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }
    }
}
