//
//  fade-slow.less
//  InspiringApps modules
//
//  Created by InspiringApps on 1/22/21.
//

.fade-slow-enter-from,
.fade-slow-leave-to {
    opacity: 0;
}

.fade-slow-enter-to,
.fade-slow-leave-from {
    opacity: 1;
}

.fade-slow-enter-active,
.fade-slow-leave-active {
    transition: opacity 0.4s;
}
