//
//  LicensingDetail.less
//  CompactConnect
//
//  Created by InspiringApps on 7/1/2024.
//

.licensee-detail-container {
    @spacingMobile: 2.4rem;
    @spacingTablet: 4.8rem;
    @spacingDesktop: 12rem;

    .licensee-header {
        display: flex;
        flex-direction: column;
        padding: @spacingMobile;
        background-color: @white;

        @media @tabletWidth {
            margin-top: -9rem;
            padding: 9rem @spacingTablet @spacingTablet @spacingTablet;
        }

        @media @desktopWidth {
            margin-top: -9rem;
            padding: 9rem @spacingDesktop @spacingMobile @spacingDesktop;
        }

        .breadcrumbs {
            display: flex;
            margin-bottom: @spacingMobile;

            .breadcrumb-link {
                margin-right: 4px;
                color: #6e6e6e;
            }
        }

        .licensee-name {
            margin-bottom: 1.2rem;
            font-weight: @fontWeightBold;
            font-size: 3.2rem;
        }

        .license-tags {
            display: flex;
            flex-wrap: wrap;

            .license-tag {
                padding: 0.4rem 0.8rem;
                border-radius: 9999px; // pill shaped
                font-size: 1.4rem;
                background-color: @lightGrey;
            }
        }
    }

    .license-section {
        padding: @spacingMobile;

        @media @tabletWidth {
            padding: @spacingMobile @spacingTablet;
        }

        @media @desktopWidth {
            padding: @spacingMobile @spacingDesktop;
        }

        .license-section-title-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 1rem;

            .license-title {
                padding-left: 1rem;
                font-size: @fontSizeLarger;
            }
        }

        .license-card-list-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media @tabletWidth {
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
            }

            .license-chunk {
                .license-expired-message {
                    margin-top: 1rem;
                    color: @midRed;
                }
            }
        }

        .home-state-section {
            display: flex;
            flex-direction: column;

            .home-state-list {
                display: flex;
                flex-direction: column;

                @media @tabletWidth {
                    flex-direction: row;
                }
            }

            .homestate-error-text {
                max-width: 20rem;
                padding: 0 1rem;
                color: @midRed;
                text-overflow: wrap;

                @media @tabletWidth {
                    max-width: 40rem;
                }
            }
        }
    }

    .privilege-section {
        padding: @spacingMobile;
        border-top: 1px solid @lightGrey;

        @media @tabletWidth {
            padding: @spacingMobile @spacingTablet;
        }

        @media @desktopWidth {
            padding: @spacingMobile @spacingDesktop;
        }

        .privilege-section-title-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 1rem;

            .privilege-title {
                padding-left: 1rem;
                font-size: @fontSizeLarger;
            }
        }

        .privilege-card-list-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media @tabletWidth {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }
    // .licensee-section {
    //     display: flex;
    //     flex-direction: column;
    //     padding: @spacingMobile;
    //     background-color: @white;

    //     @media @desktopWidth {
    //         padding: @spacingMobile @spacingDesktop;
    //     }

    //     .licensee-section-title {
    //         padding-bottom: @spacingMobile;
    //         font-weight: @fontWeightBold;
    //         font-size: 1.8rem;
    //     }

    //     .license-row {
    //         display: flex;
    //         flex-direction: column;
    //         width: 100%;

    //         @media @tabletWidth {
    //             flex-direction: row;
    //         }
    //     }

    //     .license-row-cell {
    //         width: 100%;

    //         @media @tabletWidth {
    //             &:not(:first-child) {
    //                 margin-left: 7%;
    //             }

    //             &.header {
    //                 padding-top: @spacingMobile;
    //                 padding-bottom: 4px;
    //                 border-top: 1px solid @white;
    //                 color: @lightTextGrey;
    //             }

    //             &.residence-location {
    //                 flex-basis: 15%;
    //             }

    //             &.home-state {
    //                 flex-basis: 15%;
    //             }

    //             &.privilege-states {
    //                 flex-basis: 55%;
    //             }

    //             &.issue-date {
    //                 flex-basis: 15%;
    //             }

    //             &.expire-date {
    //                 flex-basis: 15%;
    //             }
    //         }

    //         .cell-title {
    //             color: @lightTextGrey;
    //         }
    //     }
    // }

    // .adverse-action-container {
    //     display: flex;
    //     margin-bottom: 3.2rem;

    //     .icon {
    //         @size: 40px;

    //         display: none;
    //         flex-basis: @size;
    //         width: @size;
    //         height: @size;
    //         border-radius: 4px;
    //         background-color: @veryLightGrey;

    //         @media @tabletWidth {
    //             display: flex;
    //         }
    //     }

    //     .adverse-action {
    //         display: flex;
    //         flex-basis: 100%;
    //         flex-direction: column;

    //         @media @tabletWidth {
    //             flex-basis: ~"calc(60% - 50px)";
    //             margin-left: 1.6rem;
    //         }

    //         .adverse-action-title {
    //             font-weight: @fontWeightBold;
    //         }

    //         .adverse-action-description {
    //             font-size: 1.4rem;
    //         }
    //     }
    // }
}
