//
//  PageMainNav.less
//  InspiringApps modules
//
//  Created by InspiringApps on 11/20/2020.
//

.main-nav-container {
    position: fixed;
    top: @appHeaderHeight;
    left: 0;
    z-index: 5;
    display: flex;
    width: 0;
    height: 100vh;
    overflow: hidden;
    background-color: @primaryColor;
    transition: width 0.5s ease-out;

    @media @tabletWidth {
        top: 0;
        width: @navPartialExpandWidth;
    }

    &.expanded {
        width: @navFullExpandWidth;
    }

    ul.main-nav {
        li {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0 0.6rem;
            cursor: pointer;

            &.page-nav {
                a {
                    padding: 1.2rem;
                    color: lighten(@white, 50%);

                    &.router-link-active {
                        color: @white;
                        font-weight: @fontWeightExtraBold;
                    }
                }
            }
        }
    }
}
