//
//  UserAccount.less
//  CompactConnect
//
//  Created by InspiringApps on 11/4/2024.
//

.account-area-container {
    width: 95%;

    @media @tabletWidth {
        width: 50rem;
    }

    .card-title {
        margin-bottom: 3.2rem;
    }

    .account-area {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        margin-bottom: 2rem;

        @media @desktopWidth {
            max-width: 60rem;
        }

        .account-submit.not-visible {
            .visually-hidden();
        }
    }

    .military-status-container {
        margin-top: 2rem;
        padding-top: 3rem;
        border-top: 1px solid @lightGrey;

        .form-title {
            margin-bottom: 2rem;
            font-weight: @fontWeightBold;
            font-size: @fontSizeLarge;
        }
    }
}
