//
//  SelectPrivileges.less
//  CompactConnect
//
//  Created by InspiringApps on 10/15/2024.
//
.select-privileges-container {
    width: 100%;

    .privilege-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .button-row {
            .purchase-flow-buttons();
        }

        .select-privileges-core-container {
            width: 100%;
            padding: 0 2rem 2rem 2rem;
            border-radius: 20px;
            background-color: @white;

            @media @tabletWidth {
                width: 72rem;
            }

            @media @desktopWidth {
                min-width: 91rem;
            }

            .mock-populate {
                margin: 0 1rem;
            }

            .title-row {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                margin: 4rem 1rem 2rem 1rem;

                @media @tabletWidth {
                    align-items: center;
                }

                .select-privileges-title {
                    font-weight: @fontWeightBold;
                }

                .license-info {
                    min-width: 10rem;
                    margin-top: 1rem;
                }
            }

            .lists-container {
                display: flex;
                flex-direction: column;
                align-items: center;

                @media @tabletWidth {
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: space-between;
                }

                .state-select-list {
                    display: flex;
                    flex-flow: column wrap;

                    @media @desktopWidth {
                        max-height: 80vh;
                    }

                    .state-unit {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .state-select-unit {
                            width: 27rem;
                            margin: 0.4rem;
                            padding: 0 1rem;
                            border: 1px solid @lightGrey;
                            border-radius: 12px;

                            @media @tabletWidth {
                                margin: 1rem;
                            }

                            &.selected {
                                border-color: @fontColor;
                                background-color: @veryLightBlue;
                            }

                            :deep(.checkbox-container) {
                                label {
                                    padding: 0 5rem 0 0.4rem;
                                    font-weight: @fontWeight;
                                }
                            }

                            .enabled-state-overlay {
                                position: absolute;
                                z-index: 2;
                                width: 100%;
                                height: 100%;
                                margin: 0 -1rem;
                                border-radius: 12px;
                                cursor: pointer;
                                opacity: 0.5;
                            }

                            .disabled-state-overlay {
                                position: absolute;
                                z-index: 2;
                                width: 100%;
                                height: 100%;
                                margin: 0 -1rem;
                                border-radius: 12px;
                                background-color: @lightGrey;
                                cursor: not-allowed;
                                opacity: 0.5;
                            }
                        }
                    }
                }

                .selected-state-list {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}
