//
//  PrivilegeCard.less
//  CompactConnect
//
//  Created by InspiringApps on 10/8/2024.
//
.privilege-card-container {
    width: 30rem;
    border-radius: 2rem;
    background-color: @white;

    .error {
        color: @midRed;
    }

    .privilege-title-row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 1rem 2rem 0.6rem 2rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        color: @white;
        background-color: darken(@darkGrey, 5%);

        &.active {
            background-color: @primaryColor;
        }

        &:has(:deep(.license-actions)) {
            padding-right: 0;
        }

        .privilege-title {
            margin: 0.2rem;
            font-weight: @fontWeightBold;
            font-size: @fontSizeLarge;
        }

        .privilege-status {
            margin-top: 0.2rem;
            margin-left: auto;
            padding: 0.2rem 0.8rem;
            border: 1px solid rgba(@white, 0.2);
            border-radius: @borderRadiusPillShape;
            background-color: rgba(@white, 0.04);

            &.active {
                background-color: rgba(@white, 0.18);
            }
        }
    }

    .license-type {
        display: flex;
        width: 100%;
        padding: 0 2rem 1rem 2rem;
        color: @white;
        background-color: darken(@darkGrey, 5%);

        &.active {
            background-color: @primaryColor;
        }
    }

    .privilege-info-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem 2rem;
        column-gap: 4rem;
        row-gap: 2rem;

        .info-item-container {
            &.discipline-item {
                width: 13rem;
            }

            .info-item-title {
                font-weight: @fontWeightBold;
                font-size: 1.4rem;
                line-height: 2.1rem;
            }

            .info-item {
                max-width: 11.2rem;
                font-size: 1.4rem;
                line-height: 2.1rem;
                word-wrap: break-word;
            }
        }
    }

    .view-details-button {
        width: 100%;
        padding: 0 2rem;

        &:deep(input) {
            width: 100%;
        }
    }
}
