//
//  LicenseCard.less
//  CompactConnect
//
//  Created by InspiringApps on 10/8/2024.
//
.license-card-container {
    width: 30rem;
    padding: 2rem 2rem 1.6rem 2rem;
    border-radius: 2rem;
    color: #2d2d2d;
    background-color: @lightBlue;

    .error {
        color: @midRed;
    }

    .license-heading-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.6rem;

        .license-title {
            margin-bottom: 0.4rem;
            color: @primaryColor;
            font-weight: @fontWeightExtraBold;
            font-size: 1.4rem;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
        }

        .state-title {
            display: flex;
            font-weight: @fontWeightBold;
            font-size: @fontSizeLarge;

            .license-icon-container {
                width: 3rem;
                margin-right: 0.8rem;

                .license-logo {
                    width: 100%;
                }

                :deep(path) {
                    fill: @black;
                }
            }
        }

        .license-status {
            max-height: 2.4rem;
            margin-left: auto;
            padding: 0.2rem 1rem;
            border-radius: @borderRadiusPillShape;
            font-weight: @fontWeightBold;
            background-color: rgba(@white, 0.04);

            &.active {
                background-color: rgba(@white, 0.5);
            }
        }

        .license-type-abbrev {
            font-size: 1.4rem;
        }

        .license-status-description {
            margin-left: auto;
            font-size: 1.4rem;
            font-style: italic;
        }
    }

    .license-info-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1rem;
        column-gap: 4rem;
        row-gap: 1.6rem;

        .info-item-container {
            .info-item-title {
                font-weight: @fontWeightBold;
                font-size: 1.4rem;
                line-height: 2.1rem;
            }

            .info-item {
                max-width: 11.2rem;
                font-size: 1.4rem;
                line-height: 2.1rem;
                word-wrap: break-word;
            }
        }
    }

    .license-eligibility-container {
        @spacing: 2rem;
        @iconSize: 2rem;

        display: flex;
        align-items: center;
        margin-top: @spacing;
        padding: @spacing 0 1.2rem;
        border-top: 1px solid rgba(@darkGrey, 0.15);

        .eligibility-icon-container {
            width: @iconSize;
            height: @iconSize;
            margin-right: 0.8rem;
            border-radius: 50%;
            background-color: @black;

            &.eligible {
                background-color: @midGreen;
            }

            &.not-eligible {
                background-color: @midRed;
            }

            .eligibility-icon {
                width: @iconSize;
                height: @iconSize;
                fill: @white;
                stroke: @white;
            }
        }
    }
}
