//
//  PrivilegePurchaseFinalize.less
//  CompactConnect
//
//  Created by InspiringApps on 10/28/2024.
//
.finalize-privilege-purchase-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .form-error-message {
        padding: 2rem;
        color: @midRed;
    }

    .complete-purchase-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .button-row {
            .purchase-flow-buttons();
        }

        .finalize-purchase-container {
            padding: 4rem 2.4rem 1.6rem 2.4rem;
            border-radius: 20px;
            background-color: @white;

            @media @tabletWidth {
                width: 72rem;
            }

            @media @desktopWidth {
                width: 90rem;
            }

            .progress-bar-container {
                @media @tabletWidth {
                    position: absolute;
                    z-index: 1;
                    width: 62rem;
                }

                @media @desktopWidth {
                    position: absolute;
                    z-index: 1;
                    width: 80rem;
                }
            }

            .finalize-purchase-title-row {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 2rem;
            }

            .cost-breakdown-container {
                display: flex;
                flex-direction: column;
                min-height: 60vh;
                margin-top: 1rem;

                .no-refunds-checkbox {
                    margin-top: auto;
                }

                :deep(.checkbox-container) {
                    label {
                        font-weight: @fontWeightLight;
                    }
                }

                .cost-listing-block {
                    .cost-section {
                        padding-bottom: 1rem;

                        .section-title {
                            margin: 1rem 0;
                            font-weight: @fontWeightBold;
                        }
                    }

                    .info-row {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-end;
                        justify-content: space-between;
                        max-width: 60rem;
                        margin: 1rem 0;

                        &.purchase-total {
                            margin: 2rem 0;
                            font-weight: @fontWeightBold;
                            font-size: @fontSizeLarge;
                        }

                        .info-row-label {
                            width: calc(100% - 12rem);
                        }

                        .info-row-amount {
                            width: 12rem;
                            margin-left: auto;
                            text-align: right;

                            @media @desktopWidth {
                                margin-left: unset;
                            }
                        }
                    }
                }
            }
        }

        .payment-button-container {
            position: relative;
            flex-grow: 1;

            .payment-overlay-button {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                justify-content: start;
                width: 100%;
                height: 100%;

                :deep(.input-button) {
                    width: 100%;
                }
            }
        }
    }

    .form-row {
        margin: 2rem 0;
    }
}
