//
//  UpdateMilitaryStatus.less
//  CompactConnect
//
//  Created by InspiringApps on 12/20/2024.
//
.update-military-status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    @media @tabletWidth {
        padding: 4rem;
    }

    .update-military-status-content-container {
        width: 100%;

        @media @desktopWidth {
            width: unset;
        }

        .update-military-status-title {
            margin-bottom: 1.4rem;
            font-size: @h1FontSize;
        }

        .core-info-block {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            border-radius: 14px;
            background-color: white;

            @media @desktopWidth {
                width: 69rem;
            }

            .button-row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}
