//
//  colors.less
//  InspiringApps modules
//
//  Created by InspiringApps on 4/12/20.
//

//===========================
//= Color choice definition =
//===========================
@black: rgba(0, 0, 0, 1);
@white: rgba(255, 255, 255, 1);

// Greys
@__grey: #9a9a9a;
@midGrey: @__grey;
@darkGrey: #7b7b7b;
@veryDarkGrey: #4a4a4a;
@lightGrey: #c8c8c8;
@veryLightGrey: #eff0f0;

// Blues
// @__blue: #1E88C3; // Original designs
@__blue: #1C7CB0; // WCAG AA compliant
@midBlue: @__blue;
@midBlueWcagAA: ;
@darkBlue: darken(@midBlue, 15%);
@lightBlue: lighten(@midBlue, 40%);
@veryLightBlue: lighten(@midBlue, 55%);

// Greens
@__green: #359444;
@midGreen: @__green;
@darkGreen: darken(@midGreen, 15%);
@lightGreen: lighten(@midGreen, 40%);

// Reds
@__red: #ac2d2f;
@midRed: @__red;
@darkRed: darken(@midRed, 15%);
@lightRed: lighten(@midRed, 40%);

// Purples
@__purple: #6625f9;
@midPurple: @__purple;
@darkPurple: darken(@midPurple, 15%);
@lightPurple: lighten(@midPurple, 40%);

// Pinks
@__pink: #f125f9;
@midPink: @__pink;
@darkPink: darken(@midPink, 15%);
@lightPink: lighten(@midPink, 40%);

// Oranges
@__orange: #f9b625;
@midOrange: @__orange;
@darkOrange: darken(@midOrange, 15%);
@lightOrange: lighten(@midOrange, 40%);

//===========================
//= Social color definition =
//===========================
@facebook: #3B5998;
@twitter: #1DA1F3;
@instagram: #C13584;
@linkedin: #006BBE;
@paypal: #FFC438;

//==============================
//= App-specific color palette =
//==============================
@primaryColor: @black;
@secondaryColor: @midOrange;
@tersiaryColor: @midBlue;
