//
//  PrivilegePurchaseSuccessful.less
//  CompactConnect
//
//  Created by InspiringApps on 11/5/2024.
//
.purchase-success-container {
    .purchase-success-core {
        padding: 2rem 2rem 2rem 2rem;
        border-radius: 20px;
        background-color: @white;

        @media @tabletWidth {
            width: 72rem;
        }

        @media @desktopWidth {
            width: 90rem;
        }

        .purchase-success-title {
            margin-top: 2rem;
            font-weight: @fontWeightBold;
        }

        .purchase-success-content {
            padding: 2rem 0;
        }
    }

    .button-row {
        .purchase-flow-buttons();
    }
}
