//
//  Pagination.less
//  CompactConnect
//
//  Created by InspiringApps on 12/1/2025.
//

.pagination-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;

    &.bottom-pagination {
        margin-top: 1.6rem;
    }

    .pagination-list {
        display: flex;
        margin-bottom: 1.0rem;

        .pagination-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.2rem;
            height: 3.2rem;
            color: @primaryColor;
            font-weight: @fontWeightBold;

            &:not(.caret) {
                margin: 0 0.2rem;
                border: 0.1rem solid @primaryColor;
                border-radius: @borderRadiusSmall;
            }

            &.clickable {
                cursor: pointer;
            }

            &.selected {
                color: @white;
                background-color: @primaryColor;
            }

            &.caret {
                svg {
                    width: 1.4rem;
                    height: 1.4rem;
                }

                &.clickable svg {
                    fill: @primaryColor;
                }
            }
        }
    }

    .page-size {
        display: none;
        margin-bottom: 3.2rem;
        margin-left: 1.6rem;
    }
}
