//
//  PublicDashboard.less
//  CompactConnect
//
//  Created by InspiringApps on 8/12/2024.
//
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;

    .dashboard-splash-container {
        display: none;
        flex-direction: column;
        align-self: stretch;
        justify-content: center;
        width: 55%;
        background-color: @primaryColor;

        @media @largeDesktopWidth {
            display: flex;
        }

        .splash-image-container {
            position: absolute;

            &.upper {
                top: 0;
                right: 0;
                width: 60%;

                .splash-image {
                    fill: #59bfe6;
                }
            }

            &.lower {
                bottom: -5px;
                left: 0;
                width: 80%;
                max-width: 100rem;

                .splash-image {
                    fill: transparent;
                    stroke: #59bfe6;
                }
            }
        }

        .splash-title-container {
            padding-bottom: 8rem;
            padding-left: 60px;

            .splash-title {
                color: @white;
                font-weight: @fontWeightBold;
                font-size: 7.6rem;
                line-height: 8.1rem;
            }
        }
    }

    .dashboard-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 4rem;

        @media @largeDesktopWidth {
            width: auto;
            min-width: 45%;
        }
    }

    .dashboard-logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 10rem;
        margin-bottom: 2rem;
        text-align: center;

        .dashboard-logo {
            display: inline-block;
            width: auto;
            height: 100%;
        }
    }

    .dashboard-card {
        @iconSize: 4rem;

        flex-direction: column;
        width: 100%;
        max-width: 50rem;
        padding: 1.6rem;

        &:not(.provider-login-card) {
            margin-top: 2rem;
        }

        .header {
            display: flex;
            width: 100%;
            margin-bottom: 2rem;

            .login-icon {
                width: @iconSize;

                &.fill-type {
                    fill: @primaryColor;

                    &:deep(.custom-fill) {
                        fill: @white;
                        stroke: @primaryColor;
                    }
                }

                &.stroke-fill-type,
                &.stroke-type {
                    fill: @white;
                    stroke: @primaryColor;
                    stroke-width: 2.5;
                }
            }

            .title-container {
                display: flex;
                flex-direction: column;
                padding-left: 1.2rem;

                .title {
                    font-weight: @fontWeightBold;
                    font-size: @fontSizeLarge;
                }
            }
        }

        .staff-compacts {
            display: flex;
            flex-direction: column;

            @media @tabletWidth {
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
            }
        }

        .login-link {
            .button-primary();

            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 4rem;
            font-size: @fontSize;
            text-align: center;

            &.small {
                margin-bottom: 1.6rem;

                @media @tabletWidth {
                    width: 48%;
                    height: 7.4rem;
                }
            }

            &.register {
                margin: 0.8rem 0;
            }
        }

        .separator {
            width: 100%;
            height: 1px;
            margin: 2rem 0;
            background-color: @lightGrey;
        }
    }

    .dashboard-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 4rem 0 2rem;

        @media @desktopWidth {
            flex-direction: row;
        }

        .footer-link {
            @separatorSize: 0.4rem;
            @separatorSpacing: 1.6rem;

            position: relative;
            display: flex;
            margin-bottom: @separatorSpacing;

            &:focus {
                border-radius: 2px;
                outline: none;
                box-shadow: 0 0 0 2px @primaryColor;
            }

            @media @desktopWidth {
                &:not(:first-child) {
                    margin-left: @separatorSpacing;
                }

                &:not(:last-child) {
                    margin-right: @separatorSpacing;

                    &::after {
                        position: absolute;
                        top: 50%;
                        right: ~"calc(-@{separatorSpacing} - (@{separatorSize} / 2))";
                        display: block;
                        width: @separatorSize;
                        height: @separatorSize;
                        border-radius: 50%;
                        background-color: @primaryColor;
                        transform: translateY(-50%);
                        cursor: default;
                        content: ' ';
                        pointer-events: none;
                    }

                    &:focus::after {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}
