name: "Check Branch"

on:
  pull_request:
    branches: [main]

jobs:
  check_branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Check if branch is based on development
        run: |
          # Fetch development branch
          git fetch origin development

          # Check if the current branch contains commits from the development branch
          if git merge-base --is-ancestor HEAD origin/development; then
            exit 0
          else
            echo "ERROR: The branch is not based on the 'development' branch."
            exit 1
          fi
        shell: bash
